@charset "utf-8";
#nav{
	margin:40px auto 0px;
	width:90%;
	background:black;
	height:40px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
#nav ul li{
	float:left;
	padding:10px 15px;
	list-style:none;
	position:relative;
	width:150px;
	font-weight:bold;
}
#nav li ul{
	position:absolute;
	left:0px;
	top:40px;
	background:black;
	width:130px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	display:none;
	z-index:50;
}
#nav li ul li{
	float:none;
	text-indent:-40px;
	margin-top:-15px;
	}
#nav a{
	color:white;
	text-decoration:none;
	display:block;
}
#nav a:hover{
	color:#4DB74A;
	text-decoration:underline;
}
#page li:hover ul{
	display:block;
	}
#section{
	background:#eee;
	margin:10px auto;
	width:90%;
	height:180px;
	border:1px solid black;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#section ul{
	padding:10px 15px 0;
	list-style:none;
	font:bold 12px Verdana, Geneva, sans-serif;
}
#section ul li{
	float:left;	
	padding-right:5px;
}
#section ul li a{
	color:#648DC7;
	text-decoration:none;
}
#section ul li:after{
	content:">";
}
#section ul li:last-child:after{
	content:" ";
}
#section ul li a:hover{
	text-decoration:underline;
}
h1{
	clear:both;
	margin:40px 0 0 10px;	
}
sup{
	position:relative;
	font-size:10px;
	vertical-align:baseline;
	top:-7px;
}
h1 sup{
	font-size:14px;
	top:-20px;
}
p{
	margin:20px 0 0 10px;
}