@charset "utf-8";
/*Eric Meyer css reset*/
@charset "utf-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
: focus {
	outline: 0;
}
.hide{
	display:none;
}
body {
	color:
	line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote: before, blockquote: after,q: before, q: after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/* Global */
body,select{
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
}
h2,h3{
	font-weight:bold;
}
a{
	text-decoration:none;
}
/* header */
header{
	background:url(../images/headerbg.png) #FFF repeat-x 0 0;
}
#logo{
	float:left;
	margin:0 0 9px 190px;
}
#search{
	float:left;
	margin:20px 0 0 30px;
	font-size:14px;
	border: 1px solid #BABEBF;
	color: #999999;
	height: 17px;
	padding: 3px 6px 5px 6px;
	width: 200px;
}
#search.aa{
	border:1px #C6F solid;
}
#skin{
	float:right;
	margin:10px 189px 0 0;
	padding: 4px;
	width: 120px;
}
#skin li{
	text-indent:-9999px;
	float:left;
	margin-right:4px;
	width:15px;
	height:15px;
	cursor: pointer;
	background-image:url(../images/theme.gif);
}
#skin_1{
	background-position:15px 0px;
}
#skin_2{
	background-position:35px 0px;
}
#skin_3{
	background-position:55px 0px;
}
#skin_4{
	background-position:75px 0px;
}
#skin_5{
	background-position:95px 0px;
}
#skin_0.selected{
	background-position:0px 15px;
}
#skin_1.selected{
	background-position:15px 15px;
}
#skin_2.selected{
	background-position:35px 15px;
}
#skin_3.selected{
	background-position:55px 15px;
}
#skin_4.selected{
	background-position:75px 15px;
}
#skin_5.selected{
	background-position:95px 15px;
}
/* nav */
nav{
	clear:both;
	width:990px;
	height:37px;
	margin-left:180px;
}
nav ul{
	float:left;
	margin-left:25px;
	height: 37px;
}
nav ul li{
	float:left;
	margin-right:14px;
	position:relative;
	line-height:37px;
}
nav ul li a{
	color:#fff;
	display:block;
	padding:0 8px;
	font-weight:700;
	font-size:14px;
}
.a{
	position: absolute;
	background-color: #fff;
	border: #b1b1b1 1px solid;
	width: 450px;
	padding: 11px 12px;
	border-top-width: 0px;
	display:none;
	z-index:9999;
}
.a dl{
	float:left;
	padding-left: 13px;
}
.a dt{
	float:left;
	width:69px;
	line-height: 23px;
}
.a dd{
	float:left;
	width: 365px;
}
.a dt a{
	color:#000;
	font-size:12px;
}
.a span{
	border-right: 1px solid #CCCCCC;
	padding: 0 8px;
	margin:5px 0px;
	float:left;
}
.a dd a{
	float:left;
	color:#666;
	font: 12px normal;
	padding: 0;
}
.dl_2{
	border-top:1px dashed #C4C4C4;
	padding-top: 9px;
	margin-top: 7px;
}
.noborder{
	border-right-width:0px;
}
nav a:hover{
	text-decoration:underline;
}
/* container */
#container{
	clear:both;
	width:990px;
	margin:0 auto;
}
article{
	padding:10px 0;
}
aside{
	float:left;
	height:560px;
	width:187px;
	margin-right:10px;
}
h2{
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:12px;
	text-indent:13px;
}
#aside_1{
	border:#6e6e6e 1px solid;
	border-top-width:0px;
	padding:8px 10px 5px;
}
aside ul{
	margin:3px 0 101px;
	border-top:#eee 1px solid;
	padding:3px 2px;
}
aside li{
	float:left;
	width:79px;
	margin-bottom:6px;
}
aside a{
	color:#444;
}
aside a:hover{
	color:#008cd7;
}
aside .hot{
	color:#F00;
		position:relative;
}
aside span{
	background-image:url(../images/hot.gif);
	position:absolute;
	top:-5px;
	width:21px;
	height:16px;
}
h3{
	clear:left;
}
section{
	width:792px;
	height:560px;
	float:right;
}
#section_1{
	width:550px;
	height:320px;
	margin-right:11px;
	position:relative;
	overflow:hidden;
	float: left;
}
#section_1 #adimg img{
	position:absolute;
	top:0;
	left:0;
}
#ad{
	float:left;
	position:absolute;
	bottom:0;
	overflow: hidden;
}
#ad a{
	display:inline-block;
	background-color:#444;
	color:#fff;
	width:79px;
	height: 32px;
	margin-right:-3px;
	padding:5px 15px;
	opacity:0.7;	
}
#ad span{
	display:block;
	text-align:center;
	height:16px;
	width: 79px;
}
#ad .list{
	background:#37A7D7 url(../images/adindex.gif) no-repeat center bottom;
	color:#fff;
	opacity:1;
}
#ad #last{              /*为什么不能直接#last?*/
	margin:0;
	width:80px;
}
#section_2{
	float:left;
	height:176px;
	width:230px;
	margin-bottom: 10px;
}
#section_2 img{
	transition: 1s all;
}
#section_2:hover img{
	transform:rotate(720deg);
} 
#section_3{
	float:left;
	width:228px;
	height:133px;
	border:1px solid #DFDFDF;
	
}
#section_3 h3{
	height: 23px;
	line-height: 23px;
	border-bottom: 1px solid #DFDFDF;
	text-indent: 12px;
}
#section_3 ul{
	padding: 6px 2px 0 12px;
}
#section_3 ul a{
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	color: #666666;
}
#section_3 ul a:hover{
	color:#008cd7;
}
#tip{
	position:absolute;
	color:#333;
	background-color:#f7f5d1;
	border:1px solid #333;
	padding:1px;
	display:none;
	
}
#section_4{
	float:left;
	width:790px;
	height:230px;
	margin-top:10px;
	overflow:hidden;
}
#section_4_top{
	border-bottom: 1px solid #E4E4E4;
	height: 29px;
	width: 790px;
	position:relative;
}
#section_4_top h3{
		float:left;
	height: 29px;
	line-height: 29px;
	width: 100px;
}
#section_4_top ul{
	position:absolute;
	top: 10px;
	right:0;
}
#section_4_top ul li{
	float:left;
	margin-right:10px;
}
#section_4_top a{
	background-color: #E4E4E4;
	color: #000000;
	height: 19px;
	line-height: 20px;
	padding: 0 10px;
	display: inline-block;
}
#section_4_top a:hover{
	text-decoration:underline;
}
#section_4_pro{
	width:790px;
	float:left;
	height:188px;
	margin:8px 5px;
	overflow:hidden;
	position:relative;
}
#section_4_pro ul{
	position:absolute;
	width:3200px;
	top: 0px;
	left: 0px;
}
#section_4_pro li{
	float:left;
	position:relative;
	height: 188px;
	width: 185px;
	padding: 0 5px;
}
#section_4_pro span{
	display:block;
	position:absolute;
	bottom:0;
	height:24px;
	width:183px;
	line-height:24px;
	text-align:center;
	background-color:#efefef;
	font-size:14px;
}
#section_4_pro a{
	color:#666;
}
#section_4_pro a:hover{
	color:#008cd7;
}
#section_4 .sec{
	background:transparent url(../images/chos.gif) no-repeat center bottom;
	padding-bottom:3px;
}
#section_4 .sec a{
	background-color:#FA5889;
	color:#fff;
}
#section_4 .big{
	position:absolute;
	height:164px;
	width:183px;
	left:5px;
	top: 0px;
	opacity:0;
}
#section_4 .big:hover{
	cursor:pointer;
}
#section_4 .bigger{
	opacity:0.6;
	background:#f5f5f5 url(../images/zoom.gif) no-repeat center center;
}	
/* detail */
#detail_1{
	float: left;
width: 312px;
height: 560px;
}
#detail_pro_img{
	border:1px solid #bbb;
	height: 310px;
}
#look{
	padding: 10px 110px 6px;
}
#imgList ul{
	
}
#imgList li{
	float:left;
	margin-right:10px;
}
#imgList li img{
	width:60px;
	height:60px;
	padding:1px;
	background-color:#eee;
}
#imgList li img:hover{
	padding:1px;
	background-color:#999;
}
#tab{
	margin-top:80px;
}
#tab ul{
	clear:both;
}
#tab li{
	float:left;
	border:1px solid #898989;
	background-color:#f1f1f1;
	margin-right:4px;
	padding:1px 6px;
	border-bottom-width:0px;
}
#tab li:hover{
	cursor:pointer;
}
#tab_box{
	border: #898989 1px solid;
}
#tab div{
	clear:both;
}
#tab .hover{
	background:#DFDFDF;
}
#tab .selected{
	color: #FFF;
	background: #6D84B4;
}
#detail_2{
	float:left;
	width:448px;
	margin-left:10px;
}
#detail_2 h4{
	font-weight:bold;
}
#detail_2_main{
	line-height:25px;
}
#detail_2 .del{
	text-decoration:line-through;
}
#detail_2 .red{
	font-size:24px;
	color:#f50;
	padding-right: 5px;
	vertical-align: middle;
}
#detail_2_color li{
	float:left;
	margin-right:16px;
}
#detail_2_color li img{
	border:1px solid #bbb;
	width:30px;
	height:30px;
	padding:1px;
	background-color:#eee;
}
#detail_2_color .hover,#detail_2_color img:hover{
	border: 1px solid #f60;
	cursor:pointer;
}
#cicun,#shuliang,#zongji{
	clear:both;
}
#cicun li{
	float:left;
	border:#aaa 1px solid;
	width:30px;
	height:30px;
	margin-right:6px;
	text-align:center;
	line-height: 30px;
}
#cicun li:hover{
	cursor:pointer;
}
#cicun .ci{
	background-color:#F60;
}
#shuliang span{
	display:block;
}
#shuliang select{
	float:left;
}
#shuliang select:hover{
	cursor:pointer;
}
#pingfen{
	margin-top:-3px;
}
.star{
	position:relative;
	background:url(../images/star-matrix.gif) no-repeat 0 0;
	height: 16px;
	margin:-4px 0 20px;
}
.star li{
	float:left;
	text-indent:-9999px;
}
.nostar {
	background-position:0 0;
}
.onestar {
	background-position:0 -16px;
	}
.twostar {
	background-position:0 -32px;
	}
.threestar {
	background-position:0 -48px;
	}
.fourstar {
	background-position:0 -64px;
	}
.fivestar {
	background-position:0 -80px;
	}
.star li a{
	position:absolute;
	top:0;
	left:0;
	width:16px;
	height:16px;
	z-index:200;
}	
.star li a:hover{
	cursor:pointer;	
}
.star .one a{
	left:0px;
}
.star .two a{
	left:16px;
}
.star .three a{
	left:32px;
}
.star .four a{
	left:48px;
}
.star .five a{
	left:64px;
}
.star li a:hover{
	background:url(../images/star-matrix.gif) no-repeat 0 0;
	overflow:hidden;
	left:0;
	width:80px;
	z-index:1;
}
.star li.one a:hover{
	background-position:0 -96px;
}
.star li.two a:hover{
	background-position:0 -112px;
}
.star li.three a:hover{
	background-position:0 -128px;
}
.star li.four a:hover{
	background-position:0 -144px;
}
.star li.five a:hover{
	background-position:0 -160px;
}
/* footer */
footer{
	clear:both;
	margin:0 auto;
	padding:18px 0;
	text-align:center;
	color:#666;
}
/* jquery zoom */
.zoomPad{
	position:relative;
	float:left;
	z-index:99;
	cursor:crosshair;
}
.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
    * width:100px;
    * height:49px;
}
.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
	z-index:101;
	cursor:crosshair;
}
.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
    z-index:101;
}
.zoomWindow{
	position:absolute;
	left:110%;
	top:40px;
	background:#FFF;
	z-index:6000;
	height:auto;
  	z-index:10000;
  	z-index:110;
}
.zoomWrapper{
	position:relative;
	border:1px solid #999;
  	z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
  overflow:hidden;
	text-align:center;
	font-size:12px;
  	position:absolute;
  	top:0px;
  	left:0px;
  	z-index:120;
  	-moz-opacity:0.6;
  	opacity: 0.6;
  	filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
  	position:relative;
	overflow:hidden;
	z-index:110;

}
.zoomWrapperImage img{
  	border:0px;
  	display:block;
  	position:absolute;
  	z-index:101;
}
.zoomIframe{
  	z-index: -1;
  	filter:alpha(opacity=0);
  	-moz-opacity: 0.80;
  	opacity: 0.80;
  	position:absolute;
  	display:block;
}